html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #DFECFD;
	width: 100%;
	font-family: 'Inconsolata', monospace;
	background: url(image_about/image.png) no-repeat center top fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    user-select: none;
}

/* Параметры scrollbar*/
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient( transparent, #00F260, #00F260, #0575E6);
	border-radius: 6px;
}
/* Параметры scrollbar*/

/* Параметры меню*/
.conteiner_header {
	box-sizing: border-box;
	display: flex;
	max-width: 1900px;
}

nav ul {
 	margin: 0;
  	padding: 0;
}

.menu__image {
	width: 100%;
	margin-top: -10%;
}

.conteiner_h {
	position: fixed;
	width: 100%;
	height: 10%;
	top: 0;
	background: rgba(1,1,1, 0.9);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top_menu > li {
  	float: left;
  	list-style-type: none; /* Устанавливается маркер*/
}

.logo {
	color: #1068F7;
	font-size: calc(25px + 35 * (100vw / 1900));
	margin-right: 5%;
	text-shadow: 3px 3px 1px #F7138F;
	letter-spacing: 5px;
	font-family: 'Quintessential', cursive;
}

.conteiner_h_mobile {
	display: none;
}

/* Параметры кнопок меню*/
.wave-btn {
	position: relative;
	width: calc(80px + 10 * (100vw / 1900));
	height: 38px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	border-radius: 0 0 10px 10px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-right: 3vw;
	overflow: hidden;
	

	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;

	box-shadow: 0 0 30px rgba(127,247,18, 0.6);
	-webkit-box-shadow:  0 0 30px rgba(127,247,18, 0.6);
	-moz-box-shadow:  0 0 30px rgba(127,247,185, 0.6);
	-ms-box-shadow:  0 0 0 30px rgba(127,247,18, 0.6);
	-o-box-shadow:  0 0 0 30px rgba(127,247,18, 0.6);
}

.wave-btn:hover {
	border-radius: 10px;

	transition: all 0.8s ease 0.2s;
	-webkit-transition: all 0.8s ease 0.2s;
	-moz-transition: all 0.8s ease 0.2s;
	-ms-transition: all 0.8s ease 0.2s;
	-o-transition: all 0.8s ease 0.2s;

	box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
	-webkit-box-shadow:  0 0 40px rgba(73, 115, 255, 0.9);
	-moz-box-shadow:  0 0 40px rgba(73, 115, 255, 0.9);
	-ms-box-shadow:  0 0 0 40px rgba(73, 115, 255, 0.9);
	-o-box-shadow:  0 0 0 40px rgba(73, 115, 255, 0.9);
}

.wave-btn:hover .wave-btn_waves{
	top: -50px;
}

.wave-btn_text {
	position: relative;
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	z-index: 1;
	font-size: calc(9px + 3 * (100vw / 1900));
}

.wave-btn_waves {
	position: absolute;
	width: 280px;
	height: 280px;
	left: 0;
	top: 0;
	background-color: #4973ff;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	-o-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
}

.wave-btn_waves:after,
.wave-btn_waves:before{
	content: '';
	position: absolute;
	left: 20%;
	top: 0;
	width: 250%;
	height: 250%;

	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.wave-btn_waves:before{
	background-color:#7FF712;
	border-radius:48%;

	animation: waves 5s infinite linear;
	-webkit-animation: waves 5s infinite linear;
	-moz-animation: waves 5s infinite linear;
	-ms-animation: waves 5s infinite linear;
	-o-animation: waves 5s infinite linear;
}

.wave-btn_waves:after{
	background-color:rgba(0,0,0, 0.5);
	border-radius:44%;

	animation: waves 10s infinite linear;
	-webkit-animation: waves 10s infinite linear;
	-moz-animation: waves 10s infinite linear;
	-ms-animation: waves 10s infinite linear;
	-o-animation: waves 10s infinite linear;
}

@keyframes waves{
	0% {
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}

@-o-keyframes waves{
	0% {
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}

@-moz-keyframes waves{
	0% {
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}

@-webkit-keyframes waves{
	0% {
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
/* Параметры кнопок меню*/
/* Параметры меню*/

/* Параметры about*/
.conteiner_about {
	position: relative;
	width: 100%;
	background: #212136;
	margin-top: -3%;
}

.conteiner_ab {
	position: relative;
	width: 60%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.conteiner_ab h1 {
	font-size: calc(18px + 22 * (100vw / 1900));
	color: white;
	text-shadow: 3px 3px 10px black;
	padding-bottom: 5%;
	padding-top: 10%;
	font-family: 'Quintessential', cursive;
	letter-spacing: 3px;
}

.conteiner_ab p {
	font-size: calc(13px + 7 * (100vw / 1900));
	color: white;
	line-height: 1.4;
	text-align: justify;
	text-shadow: 1px 1px 10px black;
	columns: 2;
	column-gap:12%;
	padding-bottom: 5%;
}
/* Параметры about*/

/* Параметры slaider*/
.conteiner_slaider {
	position: relative;
	width: 100%;
	background: #212136;
	margin-top: -2%;
}

.conteiner_sl {
	position: relative;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.conteiner_sl img {
	position: relative;
	width: 100%;
}

#slider { /*положение слайдера*/
    position: absolute;
    top: 6.5%;
    left: 24%;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 104%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 50%; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('image_about/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: -15% 0 0 -20%; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('image_about/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: -15% -23% 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
/* Параметры slaider*/

/* Параметры music*/
.conteiner_music{
	position: relative;
	width: 100%;
	margin-top: -1%;
}

.box_music {
	position: relative;
	width: 40%;
	left: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.box_music h1 {
	font-size: calc(25px + 25 * (100vw / 1900));
	text-transform: uppercase;
	color: #4286f4;
	margin-bottom: 20%;
	text-shadow: 3px 3px 1px black;
	font-family: 'Quintessential', cursive;
	letter-spacing: 4px;
}

.box_music audio {
	margin-bottom: 5%;
	width: 80%;
}
/* Параметры music*/

/* Параметры play*/
.conteiner_play{
	position: relative;
	width: 100%;
	background: #171726;
}

.conteiner_pl {
	position: relative;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
}

.box_text_pl {
	position: relative;
	width: 30%;
	margin-right: 5%;
	margin-top: -5%;
}

.box_text_pl h2 {
	font-size: calc(25px + 25 * (100vw / 1900));
	color: white;
	letter-spacing:5px;
	text-shadow: 5px 5px 1px black;
	text-align: justify;
	font-family: 'Quintessential', cursive;
}

.box_icon_pl {
	position: relative;
	display: flex;
	list-style-type: none;
}

.box_icon_pl li {
	margin-right: 5%;
}

.box_icon_pl li img {
	width: 96px;
	border: 6px double #f953c6; 
}

.box_icon_pl li p {
	font-size: calc(9px + 9 * (100vw / 1900));
	color: white;
	text-transform: uppercase;
	font-family: 'Quintessential', cursive;
}

.box_icon_pl li p:hover {
	color: #f953c6;
	cursor: pointer;
}
/* Параметры play*/

/* Параметры подвала*/
footer {
	background:#1D1D1D;
	width: 100%;
	position: absolute;
	z-index: 100;
	font-family: 'Rubik', sans-serif;
	background: url(image/image_7.png) no-repeat center top fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer {
	display: flex;
}

.conteiner_footer{
	width: 80%;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	box-sizing: content-box;
}

.text_footer_header {
	position: relative;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

.text_footer_header p {
	font-size: calc(40px + 30 * (100vw / 1900));
	text-transform: uppercase;
	margin-right: 15%;
	color: white;
	text-shadow: 3px 3px 10px #bdc3c7;
}

.text_footer_header h1 {
	font-size: 20px;
	text-align: justify;
	color: white;
	line-height: 1.7;
}

.footer_li {
	justify-content: space-between;
	position: relative;
	display: flex;
	text-decoration: none;
	list-style: none;
}

.footer_line {
	color: #C8C8C8;
	font-size: calc(10px + 5 * (100vw / 1900));
	line-height: 2;
	opacity: 0.7;
}

.footer_header {
	color: white;
	font-size: calc(12px + 16 * (100vw / 1900));
	line-height: 2;
}

.footer_line:hover {
	color: #2AC5F4;
	cursor: pointer;
}

.text_footer_one {
	margin-top: 3%;
}

.text_footer {
	color: #C8C8C8;
	font-size: calc(9px + 7 * (100vw / 1900));
}
/* Параметры подвала*/

/* Параметры планшетной версии*/
@media (max-width: 1150px) {
	/* Параметры кнопок меню*/
	.wave-btn {
	width: calc(80px + (10 + 10 * 0.7) * ((100vw - 1150px) / 1900));
	}

	.wave-btn_text {
	font-size: calc(9px + (3 + 3 * 0.7) * ((100vw - 1150px) / 1900));
	}
}

/* Параметры планшетной версии*/
@media (max-width: 1100px) {
	/*Отключение анимации*/
	.animated {
	/*CSS transitions*/
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;
	/*CSS transforms*/
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	/*CSS animations*/
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	}
	
	/* Параметры меню*/
	.menu__image {
	margin-top: 0;
	}

	.conteiner_h {
	display: none;
	}

	.conteiner_h_mobile {
	position: fixed;
	width: 100%;
	height: 10%;
	top: -1%;
	background: rgba(1,1,1, 1);
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 150;
	}

	.logo {
	margin-left: 5%;
	}

	.menu_tablet {
	width: 42px;
	height: 42px;
	}

	.menu_mobile{
	position: absolute;
	left: 0;
	top: 99%;
	width: 100%;
	background: #100A19;
	display: none;
	list-style-type: none;
	text-align: center;
	}

	.conteiner_h_mobile label {
	display: block;
	cursor: pointer;
	margin-right: 5%;
	}

	.menu_mobile a {
	display: block;
	margin: 3% 0 0 0;
	text-decoration: none;
	color: #00EF00;
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 3px 3px 10px #bdc3c7;
	border-bottom: 2px solid #BF00F7;
	padding-bottom: 20px;
	}

	#toggle:checked + .menu_mobile {
	display: block;
	}

	/* прячем input checkbox */
	input[type="checkbox"] {
  	display: none;
	}
	/* Параметры меню*/

	/* Параметры about*/
	.conteiner_about {
	margin-top: -1%;
	}

	.conteiner_ab {
	position: relative;
	width: 80%;
	top: 0;
	padding-top: 5%;
	}

	.conteiner_ab h1 {
	padding-top: 2%;
	}
	/* Параметры about*/

	/* Параметры slaider*/
	.conteiner_slaider {
	margin-top: -3%;
	}

	.conteiner_sl {
	width: 80%;
	}

	.img_mobile {
	width: 95%;
	}

	/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
	#switch1:checked ~ #controls label:nth-child(5), 
	#switch2:checked ~ #controls label:nth-child(1),
	#switch3:checked ~ #controls label:nth-child(2),
	#switch4:checked ~ #controls label:nth-child(3),
	#switch5:checked ~ #controls label:nth-child(4){
	background: url('icon/left.png') no-repeat; /*заливка фона картинкой без повторений*/
	margin: -30% 0 0 -50%; /*сдвиг влево*/
	height: 32px;
	width: 32px;
	}

	/*настройка переключения и положения для правой стрелки*/
	#switch1:checked ~ #controls label:nth-child(2), 
	#switch2:checked ~ #controls label:nth-child(3),
	#switch3:checked ~ #controls label:nth-child(4),
	#switch4:checked ~ #controls label:nth-child(5),
	#switch5:checked ~ #controls label:nth-child(1){
	background: url('icon/right.png') no-repeat; /*заливка фона картинкой без повторений*/
	margin: -30% -50% 0 0; /*сдвиг вправо*/
	height: 32px;
	width: 32px;
	}
	/* Параметры slaider*/

	/* Параметры music*/
	.box_music {
	width: 50%;
	}

	.box_music audio {
	width: 100%;
	}
	/* Параметры music*/

	/* Параметры play*/
	.conteiner_pl {
	width: 80%;
	top: 0;
	display: block;
	padding-top: 10%;
	padding-bottom: 10%;
	}

	.box_text_pl {
	position: relative;
	width: 100%;
	margin-right: 0;
	margin-top: 0;
	}

	.box_text_pl br {
	display: none;
	}

	.box_icon_pl {
	position: relative;
	width: 100%;
	left: 0;
	}

	.box_icon_pl li {
	margin-right: 10%;
	}

	.box_icon_pl li img {
	width: 60px;
	border: 4px double #f953c6; 
	}

	.box_icon_pl li p {
	color: #f953c6;
	}
	/* Параметры play*/

	/* Параметры подвала*/
	.text_footer_header h1 {
	display: none;
	}
	/* Параметры подвала*/

	/* Параметры scrollbar*/
	::-webkit-scrollbar {
	display: none;
	}
}

/* Параметры мобильной версии*/
@media (max-width: 500px) {
	/* Параметры меню*/
	.menu__image {
	margin-top: 10%;
	}

	.logo {
	font-size: calc(25px + (35 + 35 * 0.7) * ((100vw - 320px) / 1900));
	letter-spacing: 1px;
	}

	.menu_tablet {
	width: 30px;
	height: 30px;
	}

	.menu_mobile a {
	font-size: 13px;
	}
	/* Параметры меню*/

	/* Параметры about*/
	.conteiner_about {
	margin-top: -3%;
	}

	.conteiner_ab h1 {
	font-size: calc(18px + (22 + 22 * 0.7) * ((100vw - 320px) / 1900));
	}

	.conteiner_ab p {
	font-size: calc(13px + (7 + 7 * 0.7) * ((100vw - 320px) / 1900));
	columns: 1;
	padding: 2%;
	}
	/* Параметры about*/

	/* Параметры slaider*/
	.conteiner_slaider {
	margin-top: -5%;
	}
	/* Параметры slaider*/

	/* Параметры music*/
	.box_music {
	width: 70%;
	}

	.box_music h1 {
	font-size: calc(25px + (25 + 25 * 0.7) * ((100vw - 320px) / 1900));
	}

	.box_music audio {
	width: 80%;
	height: 30px;
	}
	/* Параметры music*/

	/* Параметры play*/
	.conteiner_pl {
	width: 85%;
	}

	.box_text_pl h2 {
	font-size: calc(25px + (25 + 25 * 0.7) * ((100vw - 320px) / 1900));
	}

	.box_icon_pl li {
	margin-right: 5%;
	}

	.box_icon_pl li img {
	width: 20px;
	}

	.box_icon_pl li p {
	font-size: calc(9px + (9 + 9 * 0.7) * ((100vw - 320px) / 1900));
	}
	/* Параметры play*/

	/* Параметры подвала*/
	.text_footer_header p {
	font-size: calc(40px + (30 + 30 * 0.7) * ((100vw - 320px) / 1900));
	}

	.footer_header {
	font-size: calc(12px + (16 + 16 * 0.7) * ((100vw - 320px) / 1900));
	}

	.footer_line {
	font-size: calc(10px + (5 + 5 * 0.7) * ((100vw - 320px) / 1900));
	}

	.text_footer {
	font-size: calc(9px + (7 + 7 * 0.7) * ((100vw - 320px) / 1900));
	}
	/* Параметры подвала*/
}


